<div class="form_input">
    <form action="/test" method="post">
      <div class="title_input">
        <input placeholder="タイトル" type="text" id="title">
      </div>
      <div class="input_content">
        <input placeholder="画像" type="string" id="cotegory">
      </div>
      <div class="input_content">
        <input placeholder="カテゴリー" type="text" id="cotegory">
      </div>
      <div class="input_content">
        <textarea placeholder="本文" id="content"></textarea>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
  </div>