<div class="contents">
  <div class="content_top clearfix">
    <div class="article_thumbnail">
      <div class="test_image"></div>
    </div>
    <div class="article_title">
        <p><%= @article.title %></p>
    </div>
    <div class="article_clip">
      <div class="test_btn"></div>
    </div>
  </div>
  <div class="content_bottom">
    <div class="test_content">
      <%= raw(@article.content) %>
    </div>
  </div>
</div>
