<div class="article_post clearfix">
    <div class="article_left">
      <%= image_tag(article.thumbnail) %>
    </div>
    <div class="article_right">
      <%= link_to article.title, article_path(article), method: :get %>
    </div>
    <div class="article_right2">
      <%= link_to article.category.name, category_path(article.category), method: :get %>
    </div>
</div>