<div class="article_post clearfix">
    <div class="article_left" style="background: url('http://blog-imgs-55.fc2.com/v/a/c/vacuumfella/sky93.jpg');">
    </div>
    <div class="article_right">
      <%= link_to clip.title, article_path(clip), method: :get %>
    </div>
    <div class="article_right2">
      <%= link_to clip.category.name, category_path(clip), method: :get %>
    </div>
</div>