<div class="contents">
  <div class="users_top clearfix">
    <div class="users_icon">
      
    </div>
    <div class="users_btn">
      
    </div>
  </div>
  <div class="users_bottom">
    
  </div>
</div>