<div class="article_post">
  <div class="clearfix">
    <% @article.each do |article| %>
      <div class="article_left">
        <%= article.thumbnail %>
      </div>
      <div class="article_right">
        <%= article.title %>
      </div>
    <% end %>
  </div>
</div>