<div class="article_post">
  <div class="clearfix">
      <div class="article_left">
        <%= article.thumbnail %>
      </div>
      <div class="article_right">
        <%= article.title %>
      </div>
  </div>
</div>