<div class="article_post clearfix">
    <div class="article_left" style="background: url('http://blog-imgs-55.fc2.com/v/a/c/vacuumfella/sky93.jpg');">
      <%= link_to 'http://www.google.co.jp/' %>
    </div>
    <div class="article_right">
      <%= article.title %>
    </div>
</div>
