<div class="article_post clearfix">
    <div class="article_left"　style=“background-image: url(:http://livedoor.blogimg.jp/blackbirdsfollow-slowpapper/imgs/f/7/f78f24da.jpg");”>
      <%= article.thumbnail %>
    </div>
    <div class="article_right">
      <%= article.title %>
    </div>
</div>