<div class="article_post">
  <div class="clearfix">
    <% @article.each do |article| %>
      <div class="article_left">
        <!-- <%= @article.thumbnail %> -->
        <%= article.thumbnail %>
      </div>
      <div class="article_right">
        <!-- <p><%= @article.title %></p> -->
        <%= article.title %>
      <% end %>
      </div>
  </div>
</div>