<div class="article_post">
  <div class="clearfix">
    <div class="article_left">
      <%= @article.img %>
    </div>
    <div class="article_right">
      <p><%= @article.title %></p>
    </div>
  </div>
</div>