
  <header id="header" >
    <div class="clearfix">
      <div class="top-left">
        <a href="" title="logo">home</a>
      </div>
      <div class="top-right">
        <a href="" title="post-btn">post</a>
      </div>
    </div>
  </header>

  <div class="contents">
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div><div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div><div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div><div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div><div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div><div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div><div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div><div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div><div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
    <div class="content">
      articles
    </div>
  </div>

  <footer id="footer">
  <ul>
    <li><a>TL</a></li>
    <li><a>Category</a></li>
    <li><a>Search</a></li>
    <li><a>MyPage</a></li>
  </ul>
  </footer>