.form_input{
  margin: 70px auto;
  width: 90%;
}

.title_btn{
  height: 60px;
  width: 100%;
  font-size: 30px;
}
.file img{
  cursor:pointer;
}
.input_image{
  width:50%;
  float: left;
  margin-top: 10px;
}
.input_cotegory{
  width:50%;
  height: 60px;
  float:left;
  margin-top: 10px;
}
.cotegory_btn{
  -webkit-appearance:none;
  width: 100%;
  height: 60px;
  font-size: 30px;
  float: right;
}
textarea{
  width: 100%;
  height: 250px;
  font-size: 30px;
  margin-top: 10px;
}
.submit_btn{
  height: 40px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 10px;
  font-size: 30px;
  border-radius: 20px;
}
.content_top{
  height: 200px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
}
.article_thumbnail{
  width: 40%;
  height: 60%;
  float: left;
  padding-top: 10%;
}
.test_image {
  background-color: white;
  height: 100%;
  width: 100%;
}
.test_image img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}
.article_title{
  height:50%;
  width: 60%;
  float: right;
  font-size: 30px;
  text-align: center;
}
.article_clip{
  height:50%;
  width: 60%;
  float: right;
}
.test_btn{
  background-color: white;
  height:80%;
  width: 90%;
  margin: 5% 5%;
}
.clip_btn{
  height:60%;
  width: 100%;
  margin:0 auto;
  margin-top: 5%;
  background-color: #99cc00;
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
}
.content_bottom{
  background-color: white;
  width: 95%;
  height:400px;
  margin: 10px auto;
}
.test_content{
  width: 95%;
  height: 90%;
  margin: 5% auto;
  font-size:30px;
}
.contents_success{
  width: 100%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
}
.btn{
  background-color: #99cc00;
}
.contents form{
  width: 90%;
  margin: 0 auto;
}
.search_form input{
  margin: 10px auto;
}
.search_article {
  height: 60px;
  width: 70%;
  font-size: 20px;
}
.btn_search{
  height: 60px;
  width: 80px;
  background-color: #99cc00;
  font-size: 20px;
}

