.form_input{
  margin: 150px auto;
  width: 90%;
}

.title_btn{
  height: 120px;
  width: 100%;
  font-size: 70px;
}
textarea{
  width: 100%;
  height: 450px;
  font-size: 50px;
  margin-top: 30px;
}
.submit_btn{
  height: 100px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #99cc00;
  font-size: 50px;
  border-radius: 20px;
}
.thumbnail_btn{
}
.file input{
  width: 100%;
  height: 120px;
  display: none;
}
.file img{
  cursor:pointer;
}

.cotegory_btn{
  width: 100%;
  height: 10る0px;
  font-size: 30px;
}
.input_image{
  margin-top: 50px;
}
.input_cotegory{
  margin-top: 50px;
}