.form_input{
  margin: 150px auto;
  width: 90%;
}

.title_btn{
  height: 120px;
  width: 100%;
  font-size: 70px;
}
textarea{
  width: 100%;
  height: 450px;
  font-size: 50px;
  margin-top: 30px;
}
.submit_btn{
  height: 100px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 30px;
  font-size: 50px;
  border-radius: 20px;
}
.thumbnail_btn{
}
.file input{
  width: 100%;
  height: 120px;
  display: none;
}
.file img{
  cursor:pointer;
}
.input_image{
  width:50%;
  float: left;
  margin-top: 50px;
}
.input_cotegory{
  width:50%;
  height: 120px;
  float:left;
  margin-top: 50px;
}
.cotegory_btn{
  -webkit-appearance:none;
  width: 100%;
  height: 100px;
  font-size: 30px;
  float: right;
}
.content_top{
  height: 400px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
}
.article_thumbnail{
  opacity: 0.5;
  width: 40%;
  height:100%;
  float: left;
}
.test_image{
  background-color: white;
  height:80%;
  width: 90%;
  margin: 10% 5%;
}
.test_image img{
  max-width: 100%;
  max-height: 100%;
}
.article_title{
  height:50%;
  width: 60%;
  float: right;
  font-size: 60px;
  text-align: center;
}

.article_clip{
  opacity: 0.5;
  height:50%;
  width: 60%;
  float: right;
}
.test_btn{
  background-color: white;
  height:80%;
  width: 90%;
  margin: 5% 5%;
}
.content_bottom{
  background-color: white;
  width: 95%;
  height:800px;
  margin: 10px auto;
}
.test_content{
  width: 95%;
  height: 90%;
  margin: 5% auto;
  font-size:30px;
}
.contents_success{
  width: 100%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
}
.btn{
  background-color: #99cc00;
}
.contents form{
  width: 90%;
  margin: 0 auto;
}
.search_form input{
  margin: 0 auto;
}
.search_article{
  margin: 0 auto;
  height: 70px;
  width: 60%;
  font-size: 20px;
}
.btn_search{
  height: 70px;
  width: 80px;
  background-color: #99cc00;
  font-size: 20px;
}
.clip_btn{
  height:60%;
  width: 400px;
  margin:0 auto;
  margin-top: 5%;
  background-color: #99cc00;
  font-size: 70px;
  border-radius: 10px;
  text-align: center;
}
