.cotegories{
  width: 90%;
  margin: 3% auto;
  background-color: white;
  height: 30%;
  border-radius: 20px;
}
.cotegory_left{
  width: 28%;
  height: 90%;
  opacity: 0.5;
  float: left;
  margin: 2%;
  border-radius: 20px;
}
.fa-tag{
  padding-left: 5%;
  padding-top: 8%;
}
.cotegory_right{
  width: 64%;
  height: 60%;
  float: right;
  margin-right: 2%;
  margin-left: 1%;
  margin-top: 6%;
  font-size: 25px;
  border-radius: 20px;
  text-decoration: none;
  color: inherit;
}