body{
  height: 100%;
  margin: 0;
  background-color: #f6fce9;
}


header {
  top: 0;
  position: absolute;
  background-color: #99cc00;
  width: 100%;
  height: 50px;
  padding: 25px 0;
}
.top-left{
  float: left;
  margin-left: 10px;
}
.top-right{
  background-color: #669900;
  float: right;
  margin-right: 10px;
}

.content{
  width: 90%;
  border: 1px solid #000;
  margin: 0 auto;
}

footer {
  background-color: #99cc00;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
}
ul{
  margin: 0;
  padding-left:0;
  list-style-type:none;
  width: 100%;
}
li{
  float: left;
  width: 16%;
  height: 80px;
  border: 0.5px solid;
  margin: 0 4%;
  text-align:center;

}
li a{
  font-size: 12px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}