.contents{
  padding-top: 100px;
  padding-bottom: 150px;
}

.article_post{
  width: 90%;
  border: 1px solid #000;
  margin: 0 auto;
}

.article_left{
  width: 30%;
  height: 80px;
  border: 0.5px solid #000;
}

.article_right{
  width: 70%;
  border: 0.5px solid #000;
}