.form_users{
  width: 90%;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}
.field{
  width: 70%;
  margin: 0 auto;
  text-align: left;
}
.form_users input{
  height: 70px;
  width: 100%;
  font-size: 50px;
  margin-bottom: 30px;
}

.actions{
  margin-top: 30px;
}
.actions input{
  height: 60px;
  width: 70%;
  background-color: #99cc00;
}

.users_top{
  height: 400px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
}
.users_icon{
  width: 40%;
  height: 100%;
  background-color: blue;
  opacity: 0.5;
  float: left;
}
.users_btn{
  height: 40%;
  width: 60%;
  background-color: blue;
  opacity: 0.5;
  margin-top: 15%;
  margin-bottom: 15%;
  float: right;
}
.users_bottom{
  background-color: white;
  width: 90%;
  height:800px;
  margin: 20px auto;
}