.form_users{
  width: 90%;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}
.field{
  width: 70%;
  margin: 0 auto;
  text-align: left;
}
.form_users input{
  height: 70px;
  width: 100%;
  font-size: 50px;
  margin-bottom: 30px;
}

.actions{
  margin-top: 30px;
}
.actions input{
  height: 60px;
  width: 70%;
  background-color: #99cc00;
}

.users_top{
  height: 200px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  background-color: white;
}
.users_icon{
  width: 40%;
  height: 60%;
  padding-top: 10%;
  opacity: 0.5;
  float: left;
  text-align: center;
  font-size: 60px;
}
.users_btn{
  height: 30%;
  width: 60%;
  opacity: 0.5;
  margin-top: 4%;
  margin-bottom: 1%;
  float: right;
}
.btn{
  height:100%;
  width: 400px;
  margin:0 auto;
  background-color: #99cc00;
  font-size: 70px;
  border-radius: 10px;
  text-align: center;
}
.users_bottom{
  background-color: white;
  width: 90%;
  margin: 20px auto;
}