<div class="article_post clearfix">
    <div class="article_left" style="background: url('http://blog-imgs-55.fc2.com/v/a/c/vacuumfella/sky93.jpg');">
    </div>
    <div class="article_right">
      <%= link_to c_article.title, '/articles' %>
    </div>
    <div class="article_right2">
      <%= link_to c_article.cotegory_id, '/cotegories' %>
    </div>
</div>