<div class="cotegories clearfix">
  <div class="cotegory_left">
    <i class="fa fa-tag fa-4x"></i>
  </div>
  <div class="cotegory_right">
    <%= link_to category.name, category_path(category) %>
  </div>
</div>