<!DOCTYPE html>
<html>
<head>
  <title>Lifepad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" >
      <div class="clearfix">
        <div class="top-left">
          <a href="" title="logo"><img src="https://www.google.co.jp/search?q=%E5%AE%B6+%E3%83%AD%E3%82%B4&rlz=1C5CHFA_enJP629JP629&espv=2&biw=783&bih=832&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjap76hsdvKAhXHipQKHcinDN4Q_AUIBigB#tbm=isch&q=%E5%AE%B6+%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3&imgrc=uiDP3S3yO8BizM%3A"></a>
        </div>
        <div class="top-right">
          <a href="" title="post-btn"><img src="https://www.google.co.jp/search?q=%E5%AE%B6+%E3%83%AD%E3%82%B4&rlz=1C5CHFA_enJP629JP629&espv=2&biw=783&bih=832&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjap76hsdvKAhXHipQKHcinDN4Q_AUIBigB#tbm=isch&q=%E7%AD%86+%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3&imgrc=6PiMHjJiaJ4_GM%3A"></a>
        </div>
      </div>
  </header>

<%= yield %>

  <footer id="footer">
    <ul class="clearfix">
      <li><a>TL</a></li>
      <li><a>Category</a></li>
      <li><a>Search</a></li>
      <li><a>MyPage</a></li>
    </ul>
  </footer>
</body>
</html>
